<p>　∧＿∧　</br>
	（｡･ω･｡)つ━☆・*。</br>
	⊂　　 ノ 　　　・゜+.</br>
	　しーＪ　　　°。+ *´¨)</br>
	　　　　　　　　　.· ´¸.·*´¨) ¸.·*¨)</br>
　　　　　　　　　　(¸.·´ (¸.·'*   ☆</p>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>
